header
    ul(id="list")
        li: a(href="/") Home
        li: a(href="/users/login.html" id="list-login") Login
        li: a(href="/users/register.html" id="list-register") Register
        li: a(href="/api/posts" id="posts") Posts
        li: a(href="/api/comments.html") Comments
