extends layout 

block content 
    // Simple pug file for registering
    h1 Register 
    // Error cardpanel for showing errors
    div(id="error" class="card-panel")
    form(action='' id="register-form" method='POST')
        label(for='email') Email
        input(type="email" name='email' id='email' required)
        label(for='password') Password
        input(type="password" name='password' id='password' required)
        input(type="submit" class="btn" value="Register")
    script(src="/javascripts/register.js")